.selectBrand {
    width: 30%;
    margin-bottom: 2%;
    margin-left: 35%;
    border-radius: 20px;
    border: 3px solid black;
    text-align: center;
    font-family: Inter;
    font-size: 180%;
}

.selectBrand:hover {
    box-shadow: 0 0 15px black;
}

.selectBrand:focus {
    outline: none;
    box-shadow: 0 0 20px black;
}