.modelInfo {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
    width: 70%;
    border-radius: 20px;
    margin: 15px 0;
}

.model {
    width: 25%;
    border-radius: 10px;
    margin: 2% 0;
}

.modelName {
    font-family: Inter;
    font-size: 110%;
}

.modelLink {
    font-family: Inter;
    font-size: 110%;
    color: #c80808;
    text-decoration: none;
    margin-right: 2%;
}

.modelLink:hover {
    text-decoration: underline;
}

.modelInfo:hover {
    box-shadow: 0 0 20px black;
}

.filterSearch {
    display: flex;
    flex-direction: column;
    background-color:  #f5f5f5;
    border-radius: 20px;
    width: 20%;
    height: max-content;
    margin: 15px 2%;
    padding: 0 1% 1% 1%;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 20px black;
}

.filterSearch:hover {

}

.search {
    font-family: Inter;
    font-size: 110%;
    text-align: center;
    border-radius: 20px;
    border: 2px solid black;
    width: 98%;
    margin-top: 6%;
}

.search:hover {
    border: 2px solid #c80808;
}

