.input {
    position: static;
    text-align: center;
    border-radius: 25px;
    font-size: 250%;
    margin-top:2%;
    width: 70%;
    border: none;
    font-weight: bold;
}
.input:hover {
    box-shadow: 0 0 20px white;
}

.input:focus {
    outline: none;
    box-shadow: 0 0 20px white;
}

.register {
    color: white;
    font-family: Inter;
    font-size: 150%;
    text-decoration: none;
    font-weight: lighter;
    width: max-content;
    margin-left: 29%;
}
.register:hover {
    text-decoration: underline;
}

.submit {
    text-align: center;
    background-color: transparent;
    color: white;
    font-size: 250%;
    border:none;
    margin-top:2%;
    width: max-content;
    margin-left: 25%;
}

.submit:hover {
    text-decoration: underline;
    cursor: pointer;
}