<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{parts/header}"></head>
<body style="margin:0;">
<nav th:replace="~{parts/nav}"></nav>

<div style="padding-top:8%; ">

    <div style="text-align: center;">
        <a th:if="${!brands.isEmpty()}" sec:authorize="hasRole('Admin')" th:href="@{/model/add}" class="modelLink" style="font-size: 130%"> New Model </a>
        <a th:if="${!models.isEmpty()}" sec:authorize="hasRole('Admin')" th:href="@{/model/deleteAllByActive}" class="modelLink" style="font-size: 130%"> Remove All </a>
    </div>

    <div style="display: flex; flex-direction: row;">
            <form th:action="@{/model}"
                  th:method="post"
                    th:if="${!models.isEmpty()}" class = "filterSearch" style="position: fixed; width:19%">
                <select placeholder="Brand" class = "search" name="Brand">
                    <option> Brand </option>
                    <option th:each="b : ${brands}" th:text="${b.name}" ></option>
                </select>
                <select placeholder="Transmission" class = "search" name="Transmission">
                    <option> Transmission </option>
                    <option> Manual </option>
                    <option> Automatic </option>
                </select>
                <select placeholder="Category" class = "search" name="Category">
                    <option> Category </option>
                    <option> Car </option>
                    <option> Bus </option>
                    <option> Truck </option>
                    <option> Motorcycle </option>
                </select>
                <select placeholder="Engine" class = "search" name="Engine">
                    <option> Engine </option>
                    <option> Gasoline </option>
                    <option> Diesel </option>
                    <option> Electric </option>
                    <option> Hybrid </option>
                </select>
                <input type="number" placeholder="Min Price" class = "search" style="width: 95%">
                <input type="number" placeholder="Max Price" class = "search" style="width: 95%">
                <button type="submit" class="modelLink" style="margin-top: 4%; background-color: transparent; border: none"> Show </button>
                <button type="reset" class="modelLink" style="margin-top: 4%; background-color: transparent; border: none"> Reset </button>
            </form>
        <h1 th:if="${models.isEmpty()}" style="font-family: Inter; font-size: 200%; margin:13% 0 13% 40%"> Models absent! </h1>

        <div style="display: flex; flex-direction: column; margin-left: 25%;">
            <div th:each="m : ${models}" class = "modelInfo">
                <img th:src="${m.image_url}" class = "model">
                <div style="display: flex; flex-direction: column; width: 67%; margin: 2%;">
                    <div th:text="${m.name}" class = "modelName"></div>
                    <div th:text="'Category: ' + ${m.category}" style="font-family: Inter; font-size: 110%; margin-top: 2%"> </div>
                    <div th:text="'Engine: ' + ${m.engine}" style="font-family: Inter; font-size: 110%; margin-top: 2%"> </div>
                    <div th:text="'Transmission: ' + ${m.transmission}" style="font-family: Inter; font-size: 110%; margin-top: 2%"> </div>
                    <div th:text="'Price: ' + ${m.price} + ' $'" style="font-family: Inter; font-size: 110%; margin-top: 2%; width: max-content"> </div>
                    <div style="margin-top: 2%;">
                        <a sec:authorize="hasRole('Admin')" th:href="@{/model/remove/{id}(id = ${m.id})}" class = "modelLink"> Remove </a>
                        <a th:href="@{/model/details/{id}(id = ${m.id})}" class = "modelLink"> Details </a>
                        <a sec:authorize="isAuthenticated()" th:href="@{/model/modelActive/{id}(id = ${m.id})}" class = "modelLink" th:text="${m.active}"> </a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<footer th:replace="~{parts/footer}"></footer>
</body>
</html>